@font-face {
    font-family: 'My Custom Font';
    /* src: url('/fonts/MyCustomFont.ttf') format('truetype');  */
    font-weight: bold;
    font-style: normal;
  }

  .team-section {
    margin-bottom: 40px;
    text-align: center;
}

.team-name {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.ourteam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: auto;
    margin: auto;
    line-height: 1.6;
    font-family: 'My Custom Font', sans-serif;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: auto;
    margin: auto;
    line-height: 1.6;
  }

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.greet h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.card {
    position: relative;
    display: flex;
    width: 280px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}


.backcard {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.headshot {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 3px solid white; 
  }

  .member-name {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    max-width: 90%;
    text-align: center; 
    white-space: normal;  
    word-wrap: break-word;
  }

.member-title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #4285f4;
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}