@font-face {
    font-family: 'My Custom Font';
    /* src: url('/fonts/MyCustomFont.ttf') format('truetype');  */
    font-weight: bold;
    font-style: normal;
  }

.ourteam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: auto;
    margin: auto;
    line-height: 1.6;
    font-family: 'My Custom Font', sans-serif;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: auto;
    margin: auto;
    line-height: 1.6;
  }

.cards-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.greet h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.card {
    position: relative;
    display: flex;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 20px;
    margin-right: 40px;
}

.backcard {
    width: 100%;
    height: 77%; /* Adjust later */
    max-width: 400px;
    margin-bottom: 20px;
    position: relative;
}

.headshot {
    width: 200px; /* Adjust the size of the headshot */
    height: 200px;
    border-radius: 50%; /* Make the headshot circular */
    position: absolute; /* Position it inside the backcard */
    top: 40%; /* Position it at the vertical center */
    left: 50%; /* Position it at the horizontal center */
    transform: translate(-50%, -50%); /* Offset to make it exactly centered */
    border: 3px solid white; /* Optional: adds a border around the headshot */
  }

.member-name {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.member-title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #4285f4;
}