@font-face {
  font-family: 'My Custom Font';
  /* src: url('/fonts/MyCustomFont.ttf') format('truetype');  */
  font-weight: bold;
  font-style: normal;
}

.about-container {
  font-family: 'My Custom Font', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-width: auto;
  margin: auto;
  line-height: 1.6;
}
  .about-container h1, .about-container h2 {
    color: #000000;
  }
  
  .about-container p {
    margin-bottom: 15px;
  }
  
  .about-container ul {
    list-style-type: square;
    padding-left: 20px;
  }

  ul li {
    margin: 10px 0;
  }

  .about-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 32rem;
    height: auto;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }

 