.Collab {
    text-align: center;
}
  
.header {
    background-color: white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.gdg-banner {
    width: 100%; /* Make it responsive */
    max-width: 1200px; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /*Add spacing below the banner*/
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(121, 110, 219, 0.1); /* Subtle shadow for depth */
}

.button {
  background-color: rgb(250, 171, 0); 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.collab_application {
  background-color: white; 
  color: rgb(250, 171, 0); 
  border: 2px solid rgb(250, 171, 0);
}

.collab_application:hover {
  background-color: rgb(250, 171, 0);
  color: white;
}

/* .about-container {
  font-family: 'My Custom Font', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-width: auto;
  margin: auto;
  line-height: 1.6;
} */

.about-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  height: auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  text-align: left;
}

.projects {
  font-family: 'My Custom Font', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
  max-width: auto;
  margin: auto;
  /* line-height: 1.6; */

  /* background-color: white;
  min-height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}