.hero-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gdg-video {
  width: 100%;
  height: auto;
}

.hero-content {
  position: absolute;
  bottom: 20px; /* Adjust based on how close to the bottom you want */
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4); /* Optional overlay for readability */
  box-sizing: border-box;
}

.hero-buttons {
  margin-top: 20px;
}