.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 1rem;
}

/* Style for the left section of the navbar */
.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Style for the logo class in navBar-left */
.logo {
    display: flex;
    align-items: center;
}

/* Style for the logo image inside the logo class in navBar-left*/
.logo-image {
    width: 2rem; /* Set the width of the logo */
    height: 2rem; /* Maintain aspect ratio */
    margin-left: 10px; /* Add some space to the left of the image */
}

/* Style for the right section of the navBar */
.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none; 
    color: #000000;
    text-decoration: none;
}

/* Style individual links */
.nav-links li {
    display: inline;
}

.navbar-right .nav-links a:hover {
    color: grey;
}